@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
    margin: 10px;
    padding: 0%;
    background-color: black;
    list-style: none;
    text-decoration: none;
}

header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    width: 60%;
 }

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;   
}

li {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

li:hover {
    color: #d21617;
}
#LOGO {
    
    width: 150px;
    height: auto;
}

h1 {
    width: 100%;
    border-style: solid;
    border-radius: 20px;
    border-color: #d21617;
    margin-top: 10%;
    color:aliceblue;
    text-indent: 10px;
    font-size: 60px;

}
h2 {
    width: 100%;
    font-size: 60px;
    border-radius: 20px;
    border-style: solid;
    border-color: #d21617;
    color:aliceblue;
    text-indent: 10px;
}

footer {
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

span{
    color: #fff;
    font-family:'Kdam Thmor Pro', sans-serif; 
}

.footer-navigation{
    display: none;
}

.footer-list{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
@media(max-width: 768px){
    .footer-navigation{
        display: block;
    align-items: center;
    }
    .footer-list{
        display: block;
        position: absolute;
        align-items: center;
    }


    nav{
        display: none;
        align-items: center;
        
    
    }
    h1 {
      
        grid-template-columns: 1fr;
        margin-top: 30%;
        font-size: 40px;
        align-items: center;
    }
    h2 {
      
        display: none;
    }

    h3 {
        width: 100%;
        font-size: 60px;
        border-radius: 20px;
        border-style: solid;
        border-color: #d21617;
        color:aliceblue;
        text-indent: 10px
    
    
}


 }
